html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  color: #464547;
  background-color: #464547;
}

.game-timer {
  font-family: 'Oswald Regular',sans-serif,helvetica,arial;
  color: #fff;
  font-size: 28px;
  line-height: 60px;
  padding: 0 25px;
}

.game-panel {
  display: none;
}

.game-message-container {
  width: 980px;
  height: 340px;
  position: absolute;
  left: 50%;
  margin-left: -490px;
  top: 50%;
  margin-top: -170px;
  text-align: center;
}

.game-message-container p {  
  color: #fff;
  font-size: 1.75rem;
  line-height: 2.125rem;
  font-family: 'Source Sans Pro Regular',sans-serif,helvetica,arial;  
  margin: 10px 0;
}
.game-message-container .uui-button.large {
  border-radius: 10px;
  margin-top: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Oswald Bold',sans-serif,helvetica,arial;
  letter-spacing: -0.035em;
}
.game-message-container .title {
  font-family: 'Oswald Bold',helvetica,sans-serif,arial;
  font-size: 6.875rem;
  letter-spacing: -0.035em;
  line-height: 7.5rem;
  margin: 0 0 2px 0;
  text-align: center;
  color: #fff;
}

.on {
  display: block;
}

.game-editor{
  position: absolute;
  top: 85px;
  bottom: 0px;
  left: 25px;
  right: 25px;
}

#editor {
  position: absolute;
  top: 0;
  bottom: 225px;
  left: 0;
  right: 0;
}

.testing #console {
  top: 25px;
  height: auto;
  width: auto;
  left: 10px;
  right: 10px;
}

#console {
  position: absolute;
  bottom: 25px;
  right: 0;
  width: 80%;
  height: 175px;
  min-height: 175px;
  font-size: 18px;
  overflow: auto;
  background-color: #fff;
}
#console div {
  padding: 5px 10px;
  white-space: pre;
}

#run-tests {
  position: absolute;
  left: 0;
  bottom: 29px;
  width: calc(20% - 25px);
  height: 171px;
  border: 1px solid #a3c644;
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 75px;
  line-height: 175px;
  background: #a3c644;
  font-family: 'Source Sans Pro Regular',sans-serif,helvetica,arial;  
  box-shadow: 0 4px #8cad35;
  text-shadow: #7f993a 2px 2px 0px;
}

#run-tests:hover,
#run-tests:focus,
#run-tests:active {
  background: #8cad35;
  border-color: #8cad35
}

.error {
    background-color: #eb6a5a;
    color: #fff;
}

.info {
    background-color: white;
    color: #000;
}

.log {
    background-color: #999;
    color: #000;
}

.accept {
    background-color: #a3c644;
    color: black;
}

.intro {
    background-color: #ccccff;
    color: black;
}

.outtro {
    background-color: #39b7ac;
    color: #fff;
}

.rotate-right {
  transform: rotate(90deg);
  position: relative;
}

.emoticon {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 120px;
}

.emoticon div {
  position: absolute;
  left:0px;
  right: 0px;
  top: -40px;
  padding: 0 0 20px;
  width: 160px;
  border: 10px solid #fff;
  border-radius: 50%;
  margin: 0 auto;
  transform: rotate(90deg);
  animation: jump 0.5s ease-in-out infinite alternate;
}

@keyframes jump {
  0% {
		top: -40px;
        -moz-transform: scale(1,0.7) rotate(90deg);
  }
  30% {-moz-transform: scale(1,1) rotate(90deg);}
  100% {top: -70px;}
}

@-o-keyframes jump {
  0% {
		top: -40px;
        -moz-transform: scale(1,0.7) rotate(90deg);
  }
  30% {-moz-transform: scale(1,1) rotate(90deg);}
  100% {top: -70px;}
}

@-ms-keyframes jump {
  0% {
		top: -40px;
        -moz-transform: scale(1,0.7) rotate(90deg);
  }
  30% {-moz-transform: scale(1,1) rotate(90deg);}
  100% {top: -70px;}
}

@-moz-keyframes jump {
  0% {
		top: -40px;
        -moz-transform: scale(1,0.7) rotate(90deg);
  }
  30% {-moz-transform: scale(1,1) rotate(90deg);}
  100% {top: -70px;}
}

@-webkit-keyframes jump {
  0% {
      top: -40px;
      -webkit-transform: scale(1,0.7) rotate(90deg);
  }
  30% {-webkit-transform: scale(1,1) rotate(90deg);}
  100% {top: -70px;}
}